<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hedge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,251},{100,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{102,47}</string>
            </dict>
            <key>hedge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,132},{117,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,45}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
            <key>hedge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,353},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>hedge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,394},{118,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,43}}</string>
                <key>sourceSize</key>
                <string>{118,43}</string>
            </dict>
            <key>hedge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,312},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>house_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,312},{173,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,186}}</string>
                <key>sourceSize</key>
                <string>{175,186}</string>
            </dict>
            <key>house_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,132},{209,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,178}}</string>
                <key>sourceSize</key>
                <string>{209,178}</string>
            </dict>
            <key>house_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,487},{167,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,153}}</string>
                <key>sourceSize</key>
                <string>{167,157}</string>
            </dict>
            <key>house_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{166,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,179}}</string>
                <key>sourceSize</key>
                <string>{166,179}</string>
            </dict>
            <key>house_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{128,227}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,227}}</string>
                <key>sourceSize</key>
                <string>{128,229}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{201,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,192}}</string>
                <key>sourceSize</key>
                <string>{201,192}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,226}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,226}}</string>
                <key>sourceSize</key>
                <string>{257,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backgound.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06753257eb3ea39a93c74757b3ab0df7$</string>
            <key>textureFileName</key>
            <string>backgound.png</string>
        </dict>
    </dict>
</plist>
