<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attacked01.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,442},{93,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,125}}</string>
                <key>sourceSize</key>
                <string>{95,125}</string>
            </dict>
            <key>attacked02.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{93,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,125}}</string>
                <key>sourceSize</key>
                <string>{95,125}</string>
            </dict>
            <key>attacked03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,132},{93,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,125}}</string>
                <key>sourceSize</key>
                <string>{95,125}</string>
            </dict>
            <key>blood01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,966},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>blood02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>blood03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,967},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>dead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,194}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{131,194}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,776},{149,188}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,6},{149,188}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,584},{141,188}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{141,188}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{159,180}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{159,180}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,386},{187,124}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,71},{187,124}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,386},{185,126}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,69},{185,126}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,194},{185,124}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,71},{185,124}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>dead08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{189,124}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,71},{189,124}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>headMove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,381},{131,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>headMove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,573},{131,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>headMove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,774},{131,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>headMove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,184},{129,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>headMove05.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,706},{125,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>headMove06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{127,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,128}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{136,190}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{136,190}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{140,190}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,190}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{142,190}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{142,190}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{144,190}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{144,190}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{132,192}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,192}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>hp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,986},{106,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,16}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
            <key>hp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1006},{106,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,16}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
            <key>jumpbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,834},{93,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,126}}</string>
                <key>sourceSize</key>
                <string>{93,126}</string>
            </dict>
            <key>leftArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,966},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,315},{93,125}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,125}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,641},{95,125}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,125}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,907},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,569},{95,123}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,123}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,514},{97,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,125}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>move06.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,514},{97,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,125}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>rightArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,967},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>shoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>shoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,129},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>shoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,129},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>shoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,259},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>stand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,894},{91,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,124}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
            <key>stand02.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,768},{91,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,124}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
            <key>stand03.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,386},{91,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,122}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
            <key>stand04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,768},{91,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,124}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a97074ecf17b50592a5915dbe701ce40$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
