<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>axeBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,506},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>axeBut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{165,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>cartridge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,506},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>cartridge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,486},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>cartridge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,540},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,144},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,89}}</string>
                <key>sourceSize</key>
                <string>{455,89}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,551},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>gunBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gunBut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,319},{165,163}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{165,163}}</string>
                <key>sourceSize</key>
                <string>{181,165}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,266},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,183},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>leftBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,587},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>leftBut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,484},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{353,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,51}}</string>
                <key>sourceSize</key>
                <string>{353,51}</string>
            </dict>
            <key>menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{353,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,51}}</string>
                <key>sourceSize</key>
                <string>{353,51}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>option2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,93},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,581},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,581},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{353,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,59}}</string>
                <key>sourceSize</key>
                <string>{353,59}</string>
            </dict>
            <key>resume2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{353,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,59}}</string>
                <key>sourceSize</key>
                <string>{353,59}</string>
            </dict>
            <key>rightBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>rightBut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,357},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,506},{45,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{45,43}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,550},{41,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{41,33}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{375,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,49}}</string>
                <key>sourceSize</key>
                <string>{375,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controlbar.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23f128860174fbbf235ea377586b0f36$</string>
            <key>textureFileName</key>
            <string>controlbar.png</string>
        </dict>
    </dict>
</plist>
