<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{115,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,41}}</string>
                <key>sourceSize</key>
                <string>{117,45}</string>
            </dict>
            <key>buy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{115,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{117,45}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,410},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,410},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,274},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,274},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gun32.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,138},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_gunlaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{157,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,134}}</string>
                <key>sourceSize</key>
                <string>{157,134}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{158,134}</string>
            </dict>
            <key>sung-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,410},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>item_sword1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed044056862f0217ca5da290085a0c2a$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
