<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zombie-hit-pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>appear01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,567},{118,45}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,121},{118,45}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,522},{134,55}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,111},{134,55}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear03.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,166},{140,67}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,99},{140,67}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{152,85}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,83},{152,85}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear05.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,533},{152,93}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{152,93}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,527},{162,101}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,67},{162,101}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,75},{186,123}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{186,123}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{186,137}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{186,137}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{182,149}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{182,149}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,173},{182,155}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{182,155}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,169}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{190,169}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,183}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,183}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>appear13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,71}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,112},{190,71}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>blood01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,245},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>blood02.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,573},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>blood03.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,704},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>hitLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,600},{46,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,102}}</string>
                <key>sourceSize</key>
                <string>{46,102}</string>
            </dict>
            <key>zombieAttacked01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,320},{101,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,178}}</string>
                <key>sourceSize</key>
                <string>{105,178}</string>
            </dict>
            <key>zombieAttacked02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,330},{97,178}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,178}}</string>
                <key>sourceSize</key>
                <string>{105,178}</string>
            </dict>
            <key>zombieBite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,516},{104,176}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{104,176}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>zombieBite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,455},{110,176}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{110,176}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>zombieBite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,200},{118,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>zombieBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,85},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>zombieDead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,579},{92,109}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{92,109}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,694},{92,107}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{92,107}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,614},{92,103}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{92,103}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,422},{92,105}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{92,105}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead05.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,673},{94,99}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{94,99}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead06.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,633},{100,95}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{100,95}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieDead07.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,308},{112,83}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{112,83}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>zombieHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,735},{91,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>zombieHit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,108},{104,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,180}}</string>
                <key>sourceSize</key>
                <string>{106,184}</string>
            </dict>
            <key>zombieHit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,245},{104,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,178}}</string>
                <key>sourceSize</key>
                <string>{106,184}</string>
            </dict>
            <key>zombieHit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,141},{102,180}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,180}}</string>
                <key>sourceSize</key>
                <string>{106,184}</string>
            </dict>
            <key>zombieHit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,214},{100,180}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{106,184}</string>
            </dict>
            <key>zombieHit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{104,180}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,180}}</string>
                <key>sourceSize</key>
                <string>{106,184}</string>
            </dict>
            <key>zombieLeftArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,522},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>zombieLeftLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,579},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,36}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>zombieRightArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,567},{31,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,60}}</string>
                <key>sourceSize</key>
                <string>{31,60}</string>
            </dict>
            <key>zombieRightLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,788},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>zombieWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,420},{100,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,429},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,423},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,351},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,316},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
            <key>zombieWalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{102,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,177}}</string>
                <key>sourceSize</key>
                <string>{102,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4473b5ceefd4530e3df50c615b2583a4$</string>
            <key>textureFileName</key>
            <string>zombie1.png</string>
        </dict>
    </dict>
</plist>
